name: Build & Release Binary

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build
        run: cargo build --release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: powerlifting_api_artifact
          path: ${{ github.workspace }}/target/release/backend

  release:
    name: Create release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Get version from Cargo.toml
        id: version
        uses: nicolaiunrein/cargo-get@master
        with:
          subcommand: workspace.package.version

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          name: powerlifting_api_artifact

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.version.outputs.metadata }}
          release_name: Release v${{ steps.version.outputs.metadata }}
          draft: false
          prerelease: false

      - name: Upload binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          overwrite: true
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/backend
          asset_name: powerlifting-api-linux-x86_64
          asset_content_type: application/octet-stream
